{% extends 'gshop/base.html' %}
{% load gshop_tags %}

{% block content %}



    <section class="py-5">
        <h1 class="text-white text-center">{{ title }}</h1>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for pr in object_list %}
                    <div class="col mb-5">
                        <div class="card h-100 bg-dark text-white">
                            <!-- Sale badge-->
                            <div class="badge bg-danger text-white position-absolute"
                                 style="top: 0.5rem; right: 0.5rem">
                                Выгода
                            </div>
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ pr.photo.url }}"
                                 alt="...">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ pr.name }}</h5>
                                    <!-- Product price-->
                                    <h5>
                                        <div class="badge bg-light text-dark"
                                        >{{ pr.price }}</div>
                                    </h5>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-light mt-auto"
                                                            href="{{ pr.get_absolute_url }}">Подробнее</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}