{% extends "gshop/base.html" %}


<div class="order-info">

</div>

{% block content %}

    <section class="w-100 p-4 d-flex flex-column align-items-center justify-content-center pb-4 text-white">
        <h1>Оформление заказа</h1>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span class="badge">{{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>
        <h1 class="badge">Всего: {{ cart.get_total_price }}</h1>
        <form method="post" style="width: 22rem;">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- Submit button -->
            <div class="text-center">
                <button type="submit" class="btn align-content-center btn-primary btn-block mb-4">Оформить заказ
                </button>
            </div>
            <!-- Register buttons -->
        </form>
    </section>



{% endblock %}
<form action="." method="post" class="order-form m-auto my-3">
    <table class>{{ form.as_table }}</table>
    <p><input type="submit" class="btn btn-light my-3" value="Разместить заказ"></p>
    {% csrf_token %}
</form>